* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #282828;
    font-size: 22px;
    color: #ccc;
    position: relative;
    font-family: 'Nunito';
    height: 100%;
}

header {
    display: flex;
    background-color: #ccc;
    color: #282828;
    justify-content: space-around;
    padding: 20px;
}

.main-section {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    width: 100%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    grid-gap: 5px;
}

.label-filter {
    cursor: pointer;
}

.emailListItem {
    background-color: #3d3d3d;
    height: 40px;
    display: grid;
    grid-template-columns: 100px 150px 1fr;
    cursor: pointer;
    border-bottom: 2px solid #ccc;
    color: #ccc;
}

.emailListItem:first-of-type {
    border-top: 2px solid #ccc;
}

.emailListItem.selected {
    background-color: #00eeff4d;
}

.sender-name {
    font-weight: 700;
    font-size: 90%;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 3px;
    user-select: none;
}

.email-subject {
    font-weight: 600;
    font-size: 85%;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 4px;
    user-select: none;
}

.email-content-preview {
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 80%;
    user-select: none;
}

.dictionaryOuterModal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    background-color: rgba(0, 0, 0, 50%);
}

.dictionary {
    width: 70%;
    height: 200px;
    overflow: scroll;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282828;
}

.dictionaryOuterModal.using {
    pointer-events: all;
    opacity: 100%;
}

.edit-options-bar {
    height: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.quick-edit-options {
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.delete-email-option {
    display: inline-block;
    width: 50px;
    height: 50px;
}

.archive-email-option {
    display: inline-block;
    width: 50px;
    height: 50px;
}

.emailViewSubject {
    font-size: 120%;
    font-weight: 700;
}

.emailViewContent {
    font-size: 90%;
    text-align: justify;
    padding-right: 15px;
}

.senderDetails {
    color: #adadad;
    font-size: 85%;
}

.emailViewSender {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

.emailViewSender::after {
    content: "";
    background-color: #adadad;
    height: 6px;
    width: 6px;
    position: absolute;
    left: calc(100% + 7px);
    top: 50%;
    transform: translateY(-50%);
    border-radius: 100%;
}

.emailViewSenderEmailAddress {
    display: inline-block;
}

.emailBackButton {
    color: #ccc;
    text-decoration: none;
    background-color: #292929;
    border: 2px solid #ccc;
    display: flex;
    padding: 5px;
    width: 70px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.labelTag {
    display: inline-block;
    background-color: #ccc;
    color: #282828;
    padding: 2px 5px;
    font-size: 80%;
    border-radius: 7px;
}

.labelsList {
    margin-top: 7px;
    margin-bottom: 7px;
}